<!-- @Author= Hazem El-Kilisly -->
<!-- @Summery= The Digest E-Mail Sent it self. It Contains 4 Needs with link to each of them on the website. Every Need has its name, Photo Number Of needers, Description. -->

<html>
<head>
<title> Most Popular Needs</title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="595">
<table style="font-family: Arial,Verdana,Helvetica,sans-serif;" border="0" cellpadding="0" cellspacing="0" height="18" width="595">
  <tbody>
    <tr>
    <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:60px; font-weight: bold; color:#ffffff; text-align:center; vertical-align: center" bgcolor="#35b3e5" height="40" width="595">iNeed</td>
  </tr>
  <tr>
    <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:20px; font-weight: bold; color:#ffffff; text-align:center; vertical-align: center" bgcolor="#35b3e5" height="40" width="595">Hottest Needs</td>
  </tr>
</tbody></table>
     <table style="font-family: Arial,Verdana,Helvetica,sans-serif;" bgcolor="#35b3e5" border="0" cellpadding="0" cellspacing="0" width="595">
        <tbody><tr>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>

          <td style="border:3px solid #e9f8fd" cellspacing="0" cellpadding="0" height="177" width="267"><a href= <%= "#{@url}/customer/needs/#{((@hot_needs[0]).id)}?" %>  target="_blank"><img style="display:block" src= <%= "#{@url}#{(@hot_needs[0].photo.url(:normal))}" %> cellspacing="0" cellpadding="0" height="177" width="267"></a></td>

          <td bgcolor="#35b3e5" width="13">&nbsp;</td>

          <td style="border:3px solid #e9f8fd" cellspacing="0" cellpadding="0" height="177" width="267"><a href= <%= "#{@url}/customer/needs/#{((@hot_needs[1]).id)}?" %> target="_blank"><img style="display:block" src= <%= "#{@url}#{(@hot_needs[1].photo.url(:normal))}" %> cellspacing="0" cellpadding="0" height="177" width="267"></a></td>
          
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
          <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;" bgcolor="#e9f8fd" height="56" width="267"><span style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;"><a href=<%= "#{@url}/needs/#{((@hot_needs[0]).id)}?" %> style="color:#1f4796; text-decoration:none;" target="_blank"> <%= @hot_needs[0].name %>  <br> <%= "Total Needers: #{@hot_needs[0].total_needers}" %>  <br> <%= @hot_needs[0].description %> </a></span></td>
          <td bgcolor="#35b3e5" width="13">&nbsp;</td>
          <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;" bgcolor="#e9f8fd" height="56" width="267"><span style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;"><a href=<%= "#{@url}/needs/#{((@hot_needs[1]).id)}?" %> style="color:#1f4796; text-decoration:none;" target="_blank">  <%= @hot_needs[1].name %>  <br> <%= "Total Needers: #{@hot_needs[1].total_needers}" %> <br> <%= @hot_needs[1].description %> </a></span></td>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
        </tr>
    </tbody></table>
<table border="0" cellpadding="0" cellspacing="0" height="10" width="595">
  <tbody><tr>
    <td border="0" cellspacing="0" cellpadding="0" bgcolor="#35b3e5" height="10" width="595"></td>
  </tr>
</tbody></table>
       <table style="font-family: Arial,Verdana,Helvetica,sans-serif;" bgcolor="#35b3e5" border="0" cellpadding="0" cellspacing="0" width="595">
        <tbody><tr>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>

          <td style="border:3px solid #e9f8fd" cellspacing="0" cellpadding="0" height="177" width="267"><a href= <%= "#{@url}/customer/needs/#{((@hot_needs[2]).id)}?" %> target="_blank"><img style="display:block" src= <%= "#{@url}#{(@hot_needs[2].photo.url(:normal))}" %>  cellspacing="0" cellpadding="0" height="177" width="267"></a></td>

          <td bgcolor="#35b3e5" width="13">&nbsp;</td>

          <td style="border:3px solid #e9f8fd" cellspacing="0" cellpadding="0"height="177"  width="267"><a href= <%= "#{@url}/customer/needs/#{((@hot_needs[3]).id)}?" %> target="_blank"><img style="display:block" src= <%= "#{@url}#{(@hot_needs[3].photo.url(:normal))}" %> cellspacing="0" cellpadding="0" height="177" width="267"></a></td>

          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
        </tr>

        <tr>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
          <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;" bgcolor="#e9f8fd" height="56" width="267"><span style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;"><a href=<%= "#{@url}/needs/#{((@hot_needs[2]).id)}?" %> style="color:#1f4796; text-decoration:none;" target="_blank">  <%= @hot_needs[2].name %>  <br>  <%= "Total Needers: #{@hot_needs[2].total_needers}" %><br> <%= @hot_needs[2].description %> </a></span></td>
          <td bgcolor="#35b3e5" width="13">&nbsp;</td>
          <td border="0" cellspacing="0" cellpadding="0" style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;" bgcolor="#e9f8fd" height="56" width="267"><span style="font:Arial, Helvetica, verdana, sans-serif; font-size:11px; font-weight: bold; color: #1f4796; text-align:center; vertical-align: center;"><a href= <%= "#{@url}/needs/#{((@hot_needs[3]).id)}?" %> style="color:#1f4796; text-decoration:none;" target="_blank">  <%= @hot_needs[3].name %>  <br> <%= "Total Needers: #{@hot_needs[3].total_needers}" %> <br> <%= @hot_needs[3].description %> </a></span></td>
          <td bgcolor="#35b3e5" width="24">&nbsp;</td>
        </tr>
    </tbody></table>
      <table border="0" cellpadding="0" cellspacing="0" height="10" width="595">
  <tbody><tr>
    <td border="0" cellspacing="0" cellpadding="0" bgcolor="#35b3e5" height="10" width="595"></td>
  </tr>
</tbody></table>
<table bgcolor="#35b3e5" border="0" cellpadding="0" cellspacing="0" height="62" width="595">
  <tbody><tr>
    <td height="62" width="595"></td>
  </tr>
</tbody></table>
</td>
  </tr>
        </tbody></table>
  </body></html>